<p-menubar>
  <ng-template #start>
    <div class="flex items-center gap-2">
      <img
        src="/assets/images/logos/logo.png"
        alt="logo"
        width="33"
        height="35"
      />
      <span class="text-xl font-semibold">Exam Nest</span>
    </div>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <button pButton label="Let's Get Started" [routerLink]="['/auth']" class="p-button-text"></button>
      <button pButton label="Start Exam" class="p-button-primary"></button>
    </div>
  </ng-template>
</p-menubar>
